
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  system-ui,  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#head_container{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    border: 1px solid;
    border: none;
    border-radius: 10px;
    padding: 40px;
    background-image:url(./images/1.webp);
    background-size: cover;
    box-shadow: 0px 1px 10px  rgb(196, 190, 190);
}
#container{
    height: 200px;
    width: 400px;
    text-align: center;
    border: 2px solid transparent;
    background-color:rgb(255, 253, 253);
    border-radius: 10px;
    padding: 55px;
    margin-top: 30px;
    box-shadow: 0px 1px 10px  rgb(255, 176, 5);
    

}
#container #display{
    margin-bottom: 40px;
    font-size: x-large;
    border:1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 1px 5px  rgb(164, 162, 162);

}

#container a{
    text-decoration: none;
    margin:15px ;
    
   


}

#Start{
    background-color: white;
    color: rgb(0, 89, 0);
    border: 1px solid rgb(0, 89, 0);
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    transition: background-color 0.3s ease;
    

}
#Stop{
    background-color: white;
    color: rgb(199, 1, 1);
    border: 1px solid rgb(199, 1, 1);
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    transition: background-color 0.3s ease;

}
#Reset{
    background-color: white;
    color: rgb(11, 2, 245);
    border: 1px solid rgb(11, 2, 245);
    border-radius: 10px;
    font-size: medium;
    padding: 10px;
    transition: background-color 0.3s ease;

}

#Start:hover{
    background-color: rgb(0, 89, 0);
    color:white;
    box-shadow: 0px 1px 5px  rgb(0, 89, 0);

}
#Stop:hover{
    background-color: rgb(199, 1, 1);
    color: white;
    box-shadow: 0px 1px 5px  rgb(241, 7, 7);
}
#Reset:hover{
    background-color: rgb(11, 2, 245);
    color: white;
    box-shadow: 0px 1px 5px   rgb(11, 2, 245);
}


#container:hover{
    box-shadow: 0px 1px 10px  rgb(255, 176, 5);
   
}
